<% if current_user %>
  <div class="header">
    <%= link_to "ログアウト", logout_path, class: 'btn-common' %>
    <spna class="logged-in-user-info">
      としてログイン  <strong><%= current_user.username %>.</strong>
    </spna>
  </div>
<% end %>
